* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-image: url('../media/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Titillium Web", sans-serif;
    color: #afafaf;
    font-size: 100%;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;

    @media screen and (max-width: 960px) {
        width: 100%;
    }
}

.col {
    flex: 1 0 0;
    margin: 0 10px;
    @media screen and (max-width: 960px) {
        flex: 1 0 100%;
    }
}


.header {
    padding: 15px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo-top {
        opacity: 0.3;
    }
}

.main {
    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 15px 0;

    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.form-box {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25px;
        color: #FFFFFF;
        text-shadow: 0px 2px 2px rgba(43, 1, 0, 0.75);
    }

    &__form {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
}

.form {
    .form__fieldrow {
        display: flex;
        align-items: center;
        border: 2px solid #c6c6c6;
        border-radius: 3px;
        background-image: linear-gradient(#f6f6f6, #f3f3f3);
        box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.004), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.24);
    }

    .form__item {
        margin-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form__input-text {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        font-size: 1rem;
        padding: 6px 12px;
        color: #afafaf;
        resize: none;

        &:focus::placeholder {
            color: transparent;
        }

        &::placeholder {
            color: #afafaf;
            font-size: 1rem;
        }
    }

    .form__input-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        & ~ .label__text {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

        & ~ .label__text:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            background-image: linear-gradient(#f6f6f6, #f3f3f3);
            width: 20px;
            height: 20px;
        }

        & ~ .label__text:after {
            content: '';

            border: 1px solid #c6c6c6;
            position: absolute;
            top: 0;
            margin-top: 5px;
            margin-left: 5px;
            left: 0;
            display: none;
            border-radius: 3px;
            background-image: linear-gradient(#b1db57, #73ba0e);
            width: 10px;
            height: 10px;
        }

        &:checked ~ .label__text:after {
            display: block;
        }
    }


    .label__img {
        background-image: url(../media/img/sprite-icon.png);
        width: 50px;
        height: 30px;
        display: inline-block;
        border-right: 1px solid #dedede;


        &--user {
            background-position: 6px 0;
        }

        &--lock {
            background-position: -36px 0;
        }

        &--envelope {
            background-position: -79px 0;
        }

        &--maps {
            background-position: -118px 0;
        }

        &--phone {
            background-position: -152px 0;
        }
    }
}

.button {
    cursor: pointer;
    font-size: 1rem;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    text-shadow: 0.559px 0.829px 0px rgba(81, 133, 14, 0.004);
    border-radius: 3px;

    &:focus {
        outline: none;
    }

    &--lg {
        width: 100%;
    }

    &--sml {
        width: 45%;
    }

    &--green {
        border: 1px solid #3b9a00;
        background-image: linear-gradient(#addc54, #7ec31f);

        &:hover {
            background-image: none;
            background-color: #7ec31f;
        }
        &:active {
            background-image: linear-gradient(#7ec31f, #addc54);
        }
    }

    &--red {
        border: 1px solid #a2202a;
        background-image: linear-gradient(#f76f7f, #f03747);

        &:hover {
            background-image: none;
            background-color: #f03747;
        }
         &:active {
            background-image: linear-gradient(#f03747, #f76f7f);
        }
    }

    &--is-disabled {
        cursor: not-allowed;
        border: 1px solid #90ca6d;
        background-image: linear-gradient(#cde4b0, #abd182);
    }

}
